<ion-view view-title="EditProfile">
    <ion-content>
    <button class="button button-full button-energized" ng-click="addMedia()">
      Change Profile Picture!
    </button>
    <ul>
        <li ng-repeat='interest in interests'>{{interest.activity}}</li>
    </ul>
    <select class="button button-full button-energized" ng-model = 'activityOptions' ng-change='addInterest(activityOptions)'>
      <option ng-repeat='activity in activities' value='{{activity}}'>{{ activity }}</option>
    </select>
    </ion-content>
</ion-view>
