<ion-nav-bar ng-controller="MyCtrl" class="nav__bar">
  <ion-nav-back-button id="back__button"
    ng-click="myGoBack()"> &nbsp; Filter
  </ion-nav-back-button>
  <h4>Signup</h4>
</ion-nav-bar>

<ion-view view-title="{{user.displayName}}">
  <ion-content class="padding" id="profile--wrapper">
    <img ng-src="data:image/png;base64,{{user.profilepicture}}" style="width: 64px; height: 64px">
    <p>PROFILE PAGE</p>
    <div>{{user.bio}}</div>
    <ul>
        <li ng-repeat='interest in interests'>{{interest.activity}}</li>
    </ul>
    <p>
      <a href="#/messages/{{user.uid}}">CHAT WITH {{user.displayName}} HERE</a>
    </p>
    <button ng-click='addFriend()' ng-hide="sentReq">Add As Friend</button>
    <button ng-show="sentReq">Friend Request Sent!</button>
  </ion-content>
</ion-view>
