<ion-nav-bar ng-controller="MyCtrl" class="nav__bar">
  <ion-nav-back-button id="back__button"
    ng-click="myGoBack()"> &nbsp; Filter
  </ion-nav-back-button>
  <h4>Profile</h4>
</ion-nav-bar>

<ion-view view-title="{{user.displayName}}">
  <ion-content class="padding" id="profile--wrapper">
    <div class='profile__box'>
      <img ng-src="data:image/png;base64,{{ profpic }}" class='profpic'>
      <div class='bio__info'>
        <h2 class='sections'>{{user.displayName}}</h2>
        <div>{{user.bio}}</div>
      </div>
    </div>
    <div class='profile__box'>
      <h2 class='sections'>Interests</h2>
      <ul>
          <li ng-repeat='interest in interests'>{{interest.activity}}</li>
      </ul>
    </div>
    <button ng-show="sentReq">Friend Request Sent!</button>
  </ion-content>
    <button class='chat__button'>
      <a href="#/messages/{{user.uid}}">CHAT WITH {{user.displayName}} HERE</a>
    <button>
    <button ng-click='addFriend()' ng-hide="sentReq" class='friend__button'>Add As Friend</button>
</ion-view>
