<ion-nav-bar ng-controller="MyCtrl" class="nav__bar">
  <ion-nav-back-button id="back__button"
    ng-click="myGoBack()"> &nbsp; Back
  </ion-nav-back-button>
  <h4>Profile</h4>
</ion-nav-bar>

<ion-view view-title="Settings">
<ion-content>
    <ion-list>
		<ion-item type="item-text-wrap" padding='true' href='#/profile/{{ vm.userID}}'>View Profile
	        <i class="icon ion-chevron-right icon-accessory" id="right--arrow--search"></i>
		</ion-item>
		<ion-item type="item-text-wrap" padding='true' ng-click="vm.logout()">Logout
			<i class="icon ion-chevron-right icon-accessory" id="right--arrow--search"></i>
		</ion-item>

	</ion-list>
</ion-content>
</ion-view>