<ion-nav-bar view-title ng-controller="MyCtrl" class="nav__bar">
</ion-nav-bar>
<div id="ios--room--filler"></div>

<ion-view view-title="Chats">
  <label class="item item-input" id="filter--search">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Filter" ng-model="query">
  </label>
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar item-icon-right search--item" ng-repeat="user in vm.users | filter:query" type="item-text-wrap" href="#/profile/{{user.uid}}" >
        <img ng-src="data:image/png;base64,{{user.profilepicture}}" style="width: 64px; height: 64px">
        <h2 id="search--username">{{user.displayName}}</h2>
        <span class="search--activity" ng-repeat='interest in user.interests'>{{interest.activity}} &nbsp;</span>
        <button class='friendChat' ng-hide="blocked" id='bubblify--2'>
          <a href="#/messages/{{user.uid}}" class='ion-chatbubble-working' id='bubblify--2'></a>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
