<ion-nav-bar class="nav__bar">
  <ion-nav-buttons side="right">
    <div class="ion-edit events--create" ui-sref="createEvent"></div>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view>
  <ion-content id="event--item">
    <ion-list>
      <ion-item ng-repeat="event in vm.events | filter:search" href="#/events/{{event.eventId}}">
        <p id="event--item--des" class="event--item--p">{{event.description}}</p>
        <i class="icon ion-chevron-right icon-accessory" id="right--arrow--search"></i>
        <p class="event--item--p">{{event.eventDate}}</p>
        <p class="event--item--p">{{event.location}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
