<ion-view view-title="Chat Room">
  <ion-content>
    <h1>CHAT with {{user.displayName}}</h1>
    <ul>
      <li ng-repeat="message in messages track by $index" ng-style="setStyle(message.color, message.align)">
       {{message.text}}
      </li>
    </ul>
    <div class="list card padding">
      <input type="text" ng-model="text" id="user-message">
    </div>
    <button ng-click="sendMessage(text)" class="button button-block button-positive activated">
        Send
    </button>
  </ion-content>
</ion-view>
