<ion-nav-bar class="nav__bar">
  <ion-nav-buttons side="right">
    <div class="ion-edit events--create" ui-sref="createEvent"></div>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-view>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="event in vm.events | filter:search" href="#/events/{{event.eventId}}">
        {{event.description}}
        {{event.eventDate}}
        {{event.location}}
        <i class="icon ion-chevron-right icon-accessory" id="right--arrow--search"></i>
      </ion-item>
    </ion-list>
<!--     <ul class="list" id="event--list">
      <li class="item" ng-repeat="event in vm.events | filter:search" href="#/events/{{event.eventId}}">
        {{event.description}}
        {{event.eventDate}}
        {{event.location}}
        <i class="icon ion-chevron-right icon-accessory" id="right--arrow--search"></i>
      </li>
    </ul> -->
  </ion-content>
</ion-view>