html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CSS STARTS HERE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

#back__button {
  display: inherit;
  color: rgba(255, 255, 255, 0.8);
}

@font-face{
  font-family: "Bariol";
  src: url(../fonts/Bariol_Regular.otf);
}

@font-face {
  font-family: "Flaticon";
  src: url(../fonts/MyIcons/flaticon.eot);
  src: url(../fonts/MyIcons/flaticon.eot#iefix) format("embedded-opentype"),
  url(../fonts/MyIcons/flaticon.woff) format("woff"),
  url(../fonts/MyIcons/flaticon.ttf) format("truetype"),
  url(../fonts/MyIcons/flaticon.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}.
   content: "\e000";
 }


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LOGIN PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.nav__bar {
  background-color: #91CC91;
  color: white;
}

#login--wrapper {
  height: 100%;
  background-color: #91CC91;
}

.logo {
  display: block;
  width: 60%;
  margin: 10% auto 30px auto;
}

.logo--text {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
}

.bold {
  font-weight: 500;
}

#user--email--input,
#user--password--input {
  background-color: #91CC91;
  border: .2rem solid #fff;
  text-align: center;
}

#user--email--input {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border-bottom: .2rem;
}

#user--password--input {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

#user--password--text,
#user--email--text {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
}

#user--password--text::-webkit-input-placeholder,
#user--email--text::-webkit-input-placeholder {
  color: #fff;
  line-height: 2.4rem;
  font-size: 1.8rem;
}

#sign--in {
  background-color: #fff;
  border: .2rem solid #fff;
  width: 100%;
  color: #91CC91;
  border-radius: .5rem;
  margin: 2rem auto 1rem auto;
}

#sign--in:hover {
  border: .2rem solid #5B805B;
}

#sign--in:active {
  background-color: #91CC91;
  color: #fff;
  border: .2rem solid #fff;
}

#create--user {
  color: #fff;
  border-color: #fff;
  background-color: #91CC91;
  padding: 1rem 3rem;
}

@media screen and (max-width: 350px) {
  .logo {
    margin: 5% auto;
  }
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * SIGNUP MODAL
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#signup--wrapper {
  height: 100%;
  background-color: #91CC91;
}

#new--account--title,
#new--account--cancel {
  color: #5B805B;
}

#create--new--user {
  margin: 10rem 1.5rem;
}

.signup--input {
  background-color: #91CC91;
  border: .2rem solid #fff;
  border-bottom: 0;
}

.top--input {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.bottom--input {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: .2rem solid #FFF;
}

#signup--input--top {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.input--text {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
}

.input--text::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

#signup--email--input,
#signup--password--input,
#signup--display--input {
  color: white;
  font-size: 2.4rem;
}

#signup--user {
  background-color: #fff;
  border: .2rem solid #fff;
  width: 100%;
  color: #91CC91;
  border-radius: .5rem;
  margin: 2rem auto;
}

#signup--user:hover {
  border: .2rem solid #5B805B;
}

#signup--user:active {
  background-color: #91CC91;
  color: #fff;
  border: .2rem solid #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TAB-SEARCH PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.search--item {
  padding: 0;
}

.search--item:first-child {
  margin-top: 9rem;
}

.search--item:last-child {
  margin-bottom: 1rem;
}

.search--activity {
  color: #91CC91;
  font-style: italic;
  font-size: 1.2rem;
}

#filter--search {
  margin: 4.4rem auto 0 auto;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 3rem;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * PROFILE PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#profile--wrapper {
  margin-top: 5rem;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * FRIENDS LIST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.friend--lower {
  top: 4.5rem;
  font-family: 'Bariol', 'Lato', sans-serif;
}

.rightButton {
  float: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * MESSAGES
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#user-message {
  padding: 0;
}


#chat-content {
  margin-bottom: 60px;
}

.button--input {
  width: 80px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #3d805b;
}

.button--input:active,
.button--camera:active {
  background-color: darkgreen;
}

p.button--input--text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--camera {
  background-color: #3d805b;
  width: 50px;
  height: 100%;
  line-height: 50px;
  padding-left: 0;
  color: white;
}

#chat__input {
  padding: 0;
}

#user-room li {
  padding: 5px;
}

#user__form {
  width: 100%;
}

#user-message, #chat__input {
  background-color: white;
}

#user-message {
  padding-left: 5px;
  padding-right: 5px;
}

#footer__bar {
  margin-bottom: 10px;
  padding: 0;
}

.nav__bar {
  background-color: #3d805b;
  color: white;
}

.chat-bubble--right p,
.chat-bubble--left p {
  line-height: 20px;
  color: white;
}

.chat-bubble--right,
.chat-bubble--left {
  position: relative;
  display: inline-block;
  background-color: #003333;
  padding: 7px 12px;
  width: auto;
  height: auto;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  float: right;
  clear: both;
  margin-right: 10px;
  max-width: 250px;
}

.chat-bubble--right::before,
.chat-bubble--left::before {
  display: block;
  position: absolute;
  right: 4px;
  bottom: -11px;
  content: "";
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
}

.chat-bubble--right::after,
.chat-bubble--left::after {
  display: block;
  position: absolute;
  right: 4px;
  bottom: -9px;
  content: "";
  border-color: #003333 transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
}

.chat-bubble--left {
  clear: both;
  float: left;
  background-color: #999999;
  margin-left: 10px;
}

.chat-bubble--left::before {
  right: 250px;
  left: 4px;
}

.chat-bubble--left::after {
  right: 250px;
  left: 4px;
  border-color: #999999 transparent transparent transparent;
}

.chat-bubble--left p {
  color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * EXTRA
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 48px;
}

#user-message {
  padding: 0;
}


#chat-content {
  margin-top: 44px;
  margin-bottom: 47px;
  font-size: 20px;
  background-color: #FFF;
}

.button--input {
  width: 80px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #91CC91;
}

.button--input:active,
.button--camera:active {
  background-color: darkgreen;
}

p.button--input--text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--camera {
  background-color: #91CC91;
  width: 50px;
  height: 100%;
  line-height: 50px;
  padding-left: 0;
  color: white;
}

#chat__input {
  padding: 0;
}

#user-room li {
  padding: 5px;
}

#user__form {
  width: 100%;
}

#user-message, #chat__input {
  background-color: white;
}

#user-message {
  padding-left: 5px;
  padding-right: 5px;
}

#footer__bar {
  margin-bottom: 10px;
  padding: 0;
}

.move__down{
  position: absolute;
  top:40px;
}


.page__title{
  font-size: 25px
}

h2.sections{
  font-size: 30px;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
  font-family: 'Bariol', 'Lato', sans-serif;
  font-weight: bold;
}

.fill__text1{
  font-size: 15px;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
  font-family: 'Bariol', 'Lato', sans-serif;
}

.fill__text2{
  font-size: 20px;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  text-align: center;
  font-family: 'Bariol', 'Lato', sans-serif;
  list-style-type: circle;
  position:relative;
}

.profile__box{
  position:relative;
  width:100%;
  height:280px;
  background-color: #91CC91;
}

.profContainer{
  height:100%;
  width: 111px;
}

.profpic{
  display:block;
  max-width: 100%;
  height: auto;
}

.circular {
  overflow: hidden;
  position: absolute;
  top: 65px;
  left:0;
  right:0;
  margin: auto;
  width: 120px;
  height: 120px;


  border: 2px solid white;

  border-radius: 50%;

  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.clicky{
  position: absolute;
  top: 125px;
  left: 5px;
  width: 100%;
}

.clicky span {
  color: white;
  font: bold 10px/20px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/*a {
    color: black;
    font-size: 12px;
}*/
.friend__button{
  position:absolute;
  bottom:0px;
  right:0px;
  width:50%;
  height:43px;
  background-color: #91CC91;
}

.chat__button{
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height:43px;
  background-color: #91CC91;
  color: white;
}

#displayName{
  text-align: center;
  display:block;
  position: absolute;
  top:70%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family:'Bariol', 'Lato', sans-serif;
  border-bottom: none;
}

.bio__info{
  text-align: center;
  display:block;
  position: absolute;
  top:85%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  color: white;
  font-family:'Bariol', 'Lato', sans-serif;
}

a.testTest{
  border-bottom: 5px solid #91CC91 !important;
  font-family: 'Bariol', 'Lato', sans-serif;
  font-weight: bold;
}

#radioButton {
  background-color: #fff;
  width: 100px;
  color: #91CC91;
  margin: 0px auto;
  border-bottom: 2px solid #91CC91;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#whitify{
  color:white;
  text-decoration: none;
  border:none;
  font-family: 'Bariol', 'Lato', sans-serif;
}

.scroll{height: 100%;}

.under__box{
  height:100%;
}

ul.icon
{
  list-style-type: none;
}

ul.icon li
{
  text-indent: -2.0em;
}

#photoCar img {
  bottom: 0;
  left: ;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#photoCar li {
  height: 220px;
  width: 175px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.friendDesc{
  font-size: 12px;
  color:lightgrey;
  max-width: 240px;
  word-wrap: break-word;
  white-space: normal;
}

.friendPic{
  border: 2px solid #91CC91;
}

.friendChat{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 78px;
  background-color: #91CC91;
}

#friendBox{
  height: 76px;
}

#bubblify{
  color:white;
  text-decoration: none;
  border:none;
  font-family: 'Bariol', 'Lato', sans-serif;
  font-size: 30px;
}

.changeProfPic{
  display:block;
  max-width: 100%;
  height: 100%;
  z-index: 10;
  background-color: black;
  opacity: .5;
  color:white;
  text-align: center;
}

.circText{
  position: absolute;
  top: 50px;
  font-size: 12px;
  opacity: 1;
}

.editBio{
  position: absolute;
  top: 240px;
  left:0;
  right:0;
  margin: auto;
  width:158px;
  height: 120px;
  background-color: #91CC91;
  color: white;
}

.bioButton{
  position: absolute;
  bottom: 80px;
  right: -110px;
  background-color: #3d805b;
  color: white;
  border:none;
  border-radius: 5px;
}

.exInterest{
  color: red;
  width:50px;
  margin: 1px 1px 1px 1px;
  position:absolute;
  top:5px;
  right:45px;
}

.addPhotoBox{
  width:245px;
  height:245px;
  background-color: black;
  opacity: .7;
  right:0;
  left:0;
  margin:auto;
  color:white;
  position:relative;
  font-size: 20px;
}
.photoBoxText{
  position: absolute;
  top:43%;
  left: 20%;
}

#changeTextArea{
  background-color:#91CC91;
  color:white;
}

#profile .whitey{
  background-color: white;
}
/*ul.icon li:before
{
  font-family: bullets;
  content: "\e800";
  float: left;
  width: 1.4em;
}

ul.icon li.runner:before { content: "\e000";}*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * EVENTS TAB
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


 #ce--interest {
   margin-top: 50px;
 }

 #ce--interest label {
  margin-left: 15%;
  margin-bottom: 100px;
 }

 #ce--description label,
 label.ce--date {
  margin-top: 10px;
  margin-left: 15%;
  font-size: 12px;
  margin-bottom: 0;
 }


 .event--title {
   display: block;
   font-size: 20px;
   font-weight: 100;
   text-align: center;
   background-color: #91CC91;
   border: 2px solid #91CC91;
   border-radius: 5px;
   color: #FFF;
   text-transform: uppercase;
   letter-spacing: 2px;
   width: 70%;
   padding: 3px;
   margin: 0 auto;
 }

 .event--title:active {
  background-color: #3d805b;
  border: 2px solid #91CC91;
 }

#ce--description textarea {
  width: 70%;
  height: 100px;
  margin: 0 auto 10px auto;
  border: 1px solid black;
  padding: 5px;
}

#ce--description textarea::-webkit-input-placeholder {
  text-align: center;
  line-height: 85px;
}

#ce--description input {
  width: 70%;
  height: 10px;
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  height: 50px;
  padding: 5px;
}

input[type=date], input[type=time] {
   height: 35px;
   margin: 0 auto;
   width: 100%;
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   background-color: lighten(#2f2f2f,40%);
   outline: none;
   border: 0;
   border-radius: 3px;
   padding: 0 3px;
}

#save--event {
  display: block;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  background-color: #91CC91;
  border: 2px solid #91CC91;
  border-radius: 5px;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  height: 40px;
}

#save--event:active {
  background-color: #3d805b;
  border: 2px solid #91CC91;
 }

.events--create {
  font-size: 34px;
  padding-right: 5px;
  padding-left: 50px;
  cursor: pointer;
}

#event--list {
  background-color: pink;
  margin-top: 43px;
}

#right--arrow--search {
  float: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * EVENTS VIEW
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#event--description {

}
