html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * CSS STARTS HERE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

#back__button {
  display: inherit;
  color: rgba(255, 255, 255, 0.8);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * LOGIN PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

 .nav__bar {
   background-color: #91CC91;
   color: white;
 }

 #login--wrapper {
   background-color: #91CC91;
 }

 .logo {
   display: block;
   width: 150px;
   margin: 50px auto;
 }

 .logo--text {
   color: #fff;
   font-size: 24px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 200;
 }

 .bold {
   font-weight: 500;
 }

 #user--email--input,
 #user--password--input {
   background-color: #91CC91;
   border: 2px solid #fff;
   text-align: center;
 }

 #user--email--input {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
 }

 #user--password--input {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 }

 #user--password--text,
 #user--email--text {
   text-align: center;
   color: #fff;
   font-size: 24px;
 }

 #user--password--text::-webkit-input-placeholder,
 #user--email--text::-webkit-input-placeholder {
    color: #fff;
    line-height: 24px;
    font-size: 18px;
 }

 #sign--in {
   background-color: #fff;
   border: 2px solid #fff;
   width: 100px;
   color: #91CC91;
   border-radius: 5px;
   margin: 20px auto;
 }

 #sign--in:hover {
   border: 2px solid #5B805B;
 }

 #sign--in:active {
   background-color: #91CC91;
   color: #fff;
   border: 2px solid #fff;
 }

 #create--user {
   color: #fff;
   border-color: #fff;
   background-color: #91CC91;
 }

 /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * SIGNUP MODAL
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#signup--wrapper {
  background-color: #91CC91;
}

#new--account--title,
#new--account--cancel {
  color: #5B805B;
}

#create--new--user {
  margin: 100px 15px;
}

.signup--input {
  background-color: #91CC91;
  border: 2px solid #fff;
}

.top--input {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bottom--input {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input--text {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.input--text::-webkit-input-placeholder {
   color: #fff;
   font-size: 18px;
   line-height: 25px;
}

#signup--email--input,
#signup--password--input,
#signup--display--input {
  color: white;
  font-size: 24px;
}

#signup--user {
  background-color: #fff;
  border: 2px solid #fff;
  width: 100px;
  color: #91CC91;
  border-radius: 5px;
  margin: 20px auto;
}

#signup--user:hover {
  border: 2px solid #5B805B;
}

#signup--user:active {
  background-color: #91CC91;
  color: #fff;
  border: 2px solid #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TAB-ROOMS PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.room--item {
  padding: 0px;
}

.room--item:first-child {
  margin-top: 90px;
}

.room--item:last-child {
  margin-bottom: 10px;
}

.room--activity {
  color: #91CC91;
  font-style: italic;
  font-size: 12px;
}

#filter--rooms {
  margin: 44px auto 0 auto;
}

/*#ios--room--filler {
  margin-top: 44px;
  width: 100%;
  height: 44px;
  background-color: green;
}*/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * PROFILE PAGE
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#profile--wrapper {
  margin-top: 50px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * FRIENDS LIST
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.friend--lower {
  top: 45px;
}

.rightButton {
  float: right;
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#user-message {
  padding: 0;
}


#chat-content {
  margin-bottom: 60px;
}

.button--input {
  width: 80px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #3d805b;
}

.button--input:active,
.button--camera:active {
  background-color: darkgreen;
}

p.button--input--text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--camera {
  background-color: #3d805b;
  width: 50px;
  height: 100%;
  line-height: 50px;
  padding-left: 0;
  color: white;
}

#chat__input {
  padding: 0;
}

#user-room li {
  padding: 5px;
}

#user__form {
  width: 100%;
}

#user-message, #chat__input {
  background-color: white;
}

#user-message {
  padding-left: 5px;
  padding-right: 5px;
}

#footer__bar {
  margin-bottom: 10px;
  padding: 0;
}

.nav__bar {
  background-color: #3d805b;
  color: white;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * EXTRA
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

#user-message {
  padding: 0;
}


#chat-content {
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 20px;
}

.button--input {
  width: 80px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #91CC91;
}

.button--input:active,
.button--camera:active {
  background-color: darkgreen;
}

p.button--input--text {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button--camera {
  background-color: #91CC91;
  width: 50px;
  height: 100%;
  line-height: 50px;
  padding-left: 0;
  color: white;
}

#chat__input {
  padding: 0;
}

#user-room li {
  padding: 5px;
}

#user__form {
  width: 100%;
}

#user-message, #chat__input {
  background-color: white;
}

#user-message {
  padding-left: 5px;
  padding-right: 5px;
}

#footer__bar {
  margin-bottom: 10px;
  padding: 0;
}

.move__down{
  position: absolute;
  top:64px;
}

.friend__button{
  position:absolute;
  bottom:0px;
  right:0px;
  width:50%;
  height:43px;
}

.chat__button{
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  height:43px;
}

.page__title{
  font-size: 25px
}

h2.sections{
  font-size: 15px
}
